header {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 100px;
    background: #161A30;
    padding: 0 20px; 
}

#menu {
    color: white;
    display: flex;
    align-items: center;
}
#menu h1{
    margin: 0 30px;
    cursor: pointer;
}

#login{
    display: flex;
    color: white;
    margin-right: 40px;
}

#div_logo {
    display: flex;
    align-items: center; 
}

#div_logo img {
    width: 80px;
    color: white;
    margin-right: 10px; 
}

header h1 {
    color: white;
    font-size: 20px;
    margin: 0 15px; 
}

body{
    background: radial-gradient(circle, #31304D, #3e3c61, #31304D);
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    align-items: center;
}

.central{
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.fileira-horizontal{
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
}
.Div-game-rigt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.504);
    margin: 0 150px;
    
}
.Div-game-rigt img{
    width: 200px;
}
.Div-game-rigt p {
    color: white;
}

.demonstracao{
    width: 100%;
    justify-content: center;
    align-items: center;
}

.fileira-horizontal-demo{
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.Div-game-rigt-demo{
    align-items: center;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.504);
    margin: 0 190px;
    padding: 15px 20px;
    
}
.Div-game-rigt-demo img{
    width: 200px;
}
.Div-game-rigt-demo p {
    color: white;
}

.vote{
    width: 70px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px;
    background-color: green;
    color: white;
}

/*slides*/
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.mySlides {
    display: none;
    text-align: center;
}

.mySlides img {
    width: 100%;
    height: auto;
}


.thumbnail img {
    width: 80px;
    height: auto;
    cursor: pointer;
    opacity: 0.6;
}

.thumbnail img:hover {
    opacity: 1;
}

.slideshow-container{
    height: auto;
    width: 750px;
}